<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TheFinalSalesProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Sylfaen;9</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="TheFinalSalesProject.Properties.Settings.ConnectionString" connectionString="Data Source = .\NOURADDIN;Initial Catalog = FinalSalesDB;Integrated Security = true ;"/>
    <add name="TheFinalSalesProject.Properties.Settings.FinalSalesDBConnectionString" connectionString="Data Source=DESKTOP-PFO935N\NOURADDIN;Initial Catalog=FinalSalesDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <TheFinalSalesProject.Properties.Settings>
      <setting name="Skin_Name" serializeAs="String">
        <value/>
      </setting>
      <setting name="Skin_Plate" serializeAs="String">
        <value/>
      </setting>
      <setting name="Read_From_Scale_Barcode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Scale_Barcode_PreFix" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Product_Code_Length" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="BarCode_Length" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="Value_Code_Length" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="Read_Mode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Ignore_Check_Digit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Divide_Value_By" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="PrintMode" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Discount_Allowed_Accoun_ID" serializeAs="String">
        <value>62</value>
      </setting>
      <setting name="Discount_Received_Account_ID" serializeAs="String">
        <value>64</value>
      </setting>
      <setting name="Sales_Tax_Account_ID" serializeAs="String">
        <value>66</value>
      </setting>
      <setting name="Buy_Tax_Account_ID" serializeAs="String">
        <value>67</value>
      </setting>
      <setting name="Buy_Expenese_Account_ID" serializeAs="String">
        <value>68</value>
      </setting>
      <setting name="Font_Name" serializeAs="String">
        <value>Sylfaen</value>
      </setting>
      <setting name="Font_Size" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="Is_Bold" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Is_Italic" serializeAs="String">
        <value>False</value>
      </setting>
    </TheFinalSalesProject.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.2" newVersion="4.6.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
